



main{
    position: relative;
     min-width: 950px;
     min-height: 800px;

 } 

aside{
    position: relative;   
    min-width: 200px;
    display: inline-block;
    min-height: 800px;
    /* background: palevioletred; */
    /*top:100px;*/
}

aside nav{
    padding-top: 50px;

}

aside li{
    height: 30px;
    padding-bottom: 20px;

}
aside a{
    font-size: 20px;
    color: #7F7F7F;
}

aside a:hover{
    font-size: 22px;
    color: #002060;
    text-decoration: underline;
}
aside img{
    width: 90px;
}
aside div{
    padding-bottom: 40px;
    font-size: 17px;
}

 #mypage-title{
  
    padding-top:70px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 30px;
    text-decoration: underline;
    text-align: left;
}

#boxlist{
    position: relative;
    padding-top:100px;
    padding-left: 50px;
    
}
#boxlist a{
    padding-right: 15px;
    color: #002060;
}


#boximg {
    width: 210px;
    height: 130px;
    padding-top: 20px;
    /*background:url(/images/testbox.png)no-repeat left center;*/
    font-size: 25px;
    border: #002060 1.5px solid;
    border-radius: 30px;
 } 
#boximg:hover{
 
    background-color: #002060;
    color: white;
  
    border-radius: 30px;
}
 #boximg img{
    width: 150px;
 }
 #boximg:last-child{
    padding-right: 0px;
 }