@import url(basicStyle.css);
@import url(component.css);
main{
    min-height: 650px;
    min-width: 900px;
}

main>img{
    height: 100px;
    margin-top: 40px
}

#login-input-text{
    margin-top: 40px;
    margin-bottom: 20px;
}

#login-input-text input{
    width: 50%;
    height: 40px;
    margin: 5px 0px;

    border-radius: 5px;
    border: 1px solid #002060;

    font-size: 25px;
    text-indent: 10px;
}

#login-input-text input::placeholder{
    color: #002060 !important;
    text-indent: 10px;
}

main>.btn{
    width: 50%;
    height: 80px;

    background: #002060;
    border: none;
    border-radius: 10px;

    color: #fff;
    font-size: 30px;
    line-height: 80px;

}

#login-input{
    width: 50%;
    height: 20px;
    text-align: left;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
#login-input>.chkbox{
    width: 20px;
    height: 20px;
}
#login-input div{
    line-height: 30px;
    height: 100%;
    line-height: 22px;
    margin-left: 5px;
    font-size: 15px;
}

#login-input-etc{
    width: 50%;
    margin: 10px auto;
}

#login-input-etc input{
    background: none;
    border: black 1px solid;
    width: 120px;
    height: 25px;
    line-height: 25px;
    font-size: 15px;
    margin: 0px 5px;

}

main hr{
    width: 50%;
    margin: auto;
    border: black 0px none;
    border-top: black 1px solid;
}

#join-logo{
    height: 100px;
    margin-top: 10px;
margin-bottom: 20px;
}

#join-ul{
    width: 80%;
    margin: auto;
}

#join-ul li{
margin: 20px 0px;
height: 30px;
}

#join-ul li input{
    border-radius: 5px;
    text-indent: 10px;
}

#join-ul .join-label{
    width: 17%;
    text-align: right;
    margin-right: 10px;
    font-size: 15px;
    line-height: 35px;
}

#join-ul .join-label div{
display: inline-block;
}

#join-ul .join-input-text{
    width: 83%;
}

#join-ul .join-input-text div{
line-height: 30px;
font-weight: bold;
}

#join-ul .join-input-text input{
    flex-grow: 6;  
    border: black 1px solid;
    margin: 0px 10px;
    font-size: 15px;
}

#join-ul .addr{
    width: 100px !important;  
    flex-grow: unset !important;
    /* border: black 1px solid;
    margin: 0px 10px; */
}

#join-ul .join-input-text .btn{
    flex-grow: 1;  

    padding: 0px 10px;
    font-size: 15px;
    line-height: 30px;
    border: none;
    background: #002060;
    color: #fff;
}

#join-ul .empty{
    width: 200px;  
}

#join-ul .addr-li ~ li input::placeholder{
    text-align: right;
}

#join-ul .addr-li{
    margin-top: 20px ;
    margin-bottom: 5px;
}

#join-ul .addr-li ~ li{
    margin :5px 0px;
    height: 30px;
}

#join-ul .joinbtn{
    padding: 5px 30px;
    font-size: 20px;
    line-height: 30px;
    border: none;
    border-radius: 10px;
    background: #002060;
    color: #fff;
    margin-top: 30px;
}

#join-ul li input::placeholder{
    font-size: 12px;
}

#idpw>section{
    display: inline-block;
    width: 50%;
    margin: 20px 0px;
}

#idpw div{
    width: 100%;
    height: 30px;
    background: #002060;
    border-radius: 5px;
    color: #fff;
    text-align: left;
    font-size: 18px;
    line-height: 35px;
    text-indent: 10px;
    margin: 5px 0px;
}

#idpw input{
    width: 100%;
    height: 25px;
    border: #002060 1px solid;
    border-radius: 5px;
    text-align: left;
    font-size: 18px;
    line-height: 25px;
    text-indent: 10px;
    margin: 5px 0px;
}

#idpw-pwq {
    width: 100% !important;
    margin: 0px 0px !important;
    display: none;
}

#idpw-pwq .etc{
    background: none;
    color: black;
    margin-top: 3px;
    margin-bottom: 0px;
}

.answer-btn{
    width: 100% !important;
    margin: 0px 0px !important;
    display: flex !important;
}

.answer-btn span{
    width: 80% !important;
    background: none !important;
    color: black !important;
    margin-top: 3px;
    margin-bottom: 0px;
    text-align: left;
    text-indent: 10px;
    font-size: 15px;
    line-height: 30px;
}

.answer-btn .btn{
    text-align: center !important;
    text-indent: 0px !important;
    width: 20% !important;
    background: #002060;
    border: none;
    color: #fff;
    height: 40px;
}
