/* .favorite{
    width: 30px;
    height: 30px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    font-size: 25px;
    color: red;
} */

#my-list{
    left: 50px;
}

 #comm-icon{
    right: 230px;
} 

.mypage-click{
 
    background-color: #002060;
    color: white;
  
    border-radius: 30px;
}

.idx-page{
    font-size: 22px;
    color: #002060;
    text-decoration: underline;
    
}


.box{
    width: 676px;
    margin-left: 20px;
    margin-right: 20px;
    border: #000000 solid 1px;
    border-radius: 5px;
    font-size: 18px;
    font-family: Jua;
}
