@import url(basicStyle.css);
/* component */
input::placeholder{
    color: #7F7F7F !important;
}

textarea::placeholder{
    color: #7F7F7F !important;
}
input:focus { 
    outline: none; 
}

textarea:focus { 
    outline: none; 
}

.review-rank-flex {
display: flex;
padding-top: 5px;
}

.review-rank img{
    width: 20px !important;
    height: 20px !important;
    padding-left: 10px !important;
}

.review-rank dd{
    font-size: 15px;
    line-height: 25px;

    margin-left: 10px;
    margin-right: 10px;
}

.review-report :first-child{
    width: 90%;
    font-size: 20px;
    font-weight: bolder;
}

.review-report p:last-child{
    font-size: 15px;
    font-weight: normal;
    margin: 0px; 
}
.review-report textarea:last-child{
    font-size: 15px;
    font-weight: normal;
    margin : 0px 10px; 
    border: none;
    width: 90%;
    resize: none;
    overflow-y: hidden;
    height: 370px; 
    
}


.btn{
    cursor: pointer !important;
}



/* --------------------------------------------------------------------------------- */
/* text */
.text-gray{
    color: #7F7F7F !important;
}

.text-indigo{
    color: #002060 !important;
}

.text-hashtag {
    color: #0000ff !important;
    padding: 5px 0px !important;
    font-size: 15px !important;
    line-height: 15px;
    font-family: °íµñ, ¸¼Àº °íµñ, sans-serif;
}

.text-overflow-ellipsis{
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow:ellipsis !important;
    text-align: left !important;
}
/* --------------------------------------------------------------------------------- */
main{
    width: 100%;
    position: relative; 
}

#review-search{
    width:fit-content;
}

#review-search input{
    width: 600px;
    height: 40px;
    border: 1px solid #BFBFBF;   
    box-shadow: 5px 2px 5px;
    margin: 20px 0px;
    font-size: 20px;
    text-indent: 10px;
}

#review-search li{
padding: 0px 20px;
margin-bottom: 30px;
height: 18px;
font-size: 18px;
background: url("/images/wall.png") no-repeat;
}

#review-search li:first-child{
    background:none;  
    padding-left: 5px;
}

#review-search a{
    color: #7F7F7F;
}

#review-search a:hover{
    color: #002060;
}


main>input{
    background: #002060;
    border-radius: 5px;
    border:none;
    height: 40px;
    line-height: 45px;
    width: 120px;

    font-size: 25px;
    color: #ffffff;

    position: absolute;
    right: 0px;
    top: 20px;
}

#review-list li{
    width: 332px;  
    position: relative;
}

#review-list .review-ul img{
    width: 300px;
    height: 300px;
    padding: 0px 10px;
}

#review-list .review-ul a{
    color: #000000;
}

#review-list .review-name{
    font-size: 15px;
    text-indent: 20px;
}

#review-list .review-title{
    font-size: 25px;
    text-indent: 20px;
    padding-bottom: 20px;
}

#review-list .review-title{
    font-size: 25px;
    text-indent: 20px;
    padding-bottom: 20px;
}

#review-list .review-list-hover{
    height: 300px;
    width: 300px;


    position: absolute;
    top: 0px;
    left: 15px;

    display: none;
}

#review-list .hover-back{
    height: 300px;
    width: 300px;
    background: #000;
    opacity: 0.5;

    position: absolute;
    top: 0px;
    left: 0px;

}

#review-list .review-list-hover div{
width: fit-content;
margin: 100px auto;
color: #fff;
position: relative;
}

#review-list .review-list-hover .list img{
    width: 30px !important;
    height: 30px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
}

.review-list-hover .list dd{
    font-size: 15px;
    line-height: 25px;

    margin-left: 10px;
    margin-right: 10px;
}

.hover-parency{
    height: 300px;
    width: 300px;

    position: absolute;
    top: 0px;
    left: 0px;
}

dialog{
    padding: 0px;
}

.modal-back{
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.7;
    z-index :9; 
}

.modal-x{
    position: absolute;
    top:-30px;
    right: -30px;
    z-index: 11;
    width: 50px;
    cursor: pointer;
}

.modal{
    position: fixed;
    top: 50px;;
    border: #000000 1px solid;
    z-index: 10;
    
    width: 1000px;
    height: 600px;
    margin : auto;
}

.review-hr{
    margin-left: 10px;
    width: 90%;
    border: black 0px none;
    border-top: #BFBFBF 1px solid;
}

.review-detail-image{
    height: 100%;
    width: 60%;
}

.review-detail-image img{
    width: 100%;
    height: 100%;
}

.review-detail-image a{
    color: #fff;
    font-size: 70px;
    position: absolute;
    top: 45%;
}
.review-detail-image a:last-child{
    right: 40%;
}

.review-detail-contents{
    height: 100%;
    width: 40%;
}

.review-top {
    width: 100%;
    height: 68px;
}

.review-top img{
    width: 50px;
    height: 50px;
    padding: 10px;
}

.review-top div{
    font-size: 30px;
    line-height: 70px;
}

.review-top ul{
    height: 70px;
    position: absolute;
    right: 0px;
}

.review-top input{
    font-size: 15px;
    width: fit-content;
    margin: 0px 10px;
    background: none;
    border:none;
    border-radius: 5px;

}

.review-top input:last-child{
    position: absolute;
    right: 0px;
    margin-top: 20px; 
    padding: 0px 10px;
    font-size: 20px;
    height: 30px; 
    background:#fff;
    border: #BFBFBF solid 1px;   
} 

.review-top ul input:last-child{
    position: relative;
    margin-top: 20px; 
    padding: 0px 10px;
    font-size: 20px;
    height: 30px; 
    background: #BFBFBF;
    border:none;   
} 

.review-center {
    width: 95%;
    height: 450px;
    font-family: °íµñ, ¸¼Àº °íµñ, sans-serif;
    font-size: 15px;
    margin-left: 10px;
    overflow-y: scroll; 
    word-break: break-all;
}

.review-center .comments div{
    font-size: 13px;
    padding-left: 10px;
}

.review-center .comments div:first-child{
    padding-left: 0px;
    font-weight: bolder;
}

.review-center .comments a{
color: #7F7F7F;
font-size: 10px;
line-height: 20px;
}

.review-center input{
    border: none;
    background: none;
    min-height: 35px;
    font-family: °íµñ, ¸¼Àº °íµñ, sans-serif;
    text-indent: 10px;
}

.review-spot-list{
    padding: 0px 10px;
}

.review-spot-list a{
    padding: 5px;
    line-height: 35px;
}

.review-spot-list li>a{
    line-height: 25px;
    color: #000000;
}

.review-spot-list li:first-child{
    margin-top: 5px;
}
.review-spot-list li:last-child{
    margin-bottom: 10px;
}

.review-spot-list img{
    position: absolute;
    right: 60px;
    top: 73px;
    width: 20px;
    height: 20px;
}
.review-spot-list input{
    color: #7F7F7F;
    border: #7F7F7F 1px solid;
    border-radius: 5px;
    font-size: 15px;
    width: 80%;
    margin: 5px 0px;
}

.review-spot-list div{
    height: 30px;
    line-height: 30px;
}

.review-bottom {
    width: 100%;
    height: 75px;
}

.review-bottom div{
    font-size: 13px;
    margin-left: 10px;
}

.review-bottom input{
    font-size: 13px;
    margin-left: 10px;
    margin-top: 5px;
    height: 25%;
    width: 90%;
    color: #7F7F7F;
    border-radius: 5px;
    border-style: none;
    border: none;
}

.reg1-top{
    height: 10%;
}

.reg1-top img{
    margin: 3px 20px;
    width: 45px;
}

.reg1-top div{
    padding: 0px 30px;
    font-size: 10px;
    color: #7F7F7F;
}

.reg1-top input{
    position: absolute;
    top: 15px;
    right: 20px;

    width: 100px;
    height: 5%;
    border: none;
    border-radius: 5px;
    background: #002060;
    color: #fff;
    font-size: 20px;
}

.side-imgs{
width: 55%;
height: 90%;
padding: 20px 0px;
box-sizing: border-box;
}

.side-imgs .reviewImg dl{
    height: fit-content;
}

.side-imgs .reviewImg li{
    padding: 0px 3px;
}

.side-imgs .reviewImg img{
    width: 165px;
    height: 165px;
}

.title-img{
    width: 45%;
    height: 90%;
}

.title-img img{
    position: absolute;
    top: 110px;
    right: 20px;
    width: 430px;
    height: 430px;
}

.title-img img:last-child{
    position: absolute;
    top: 110px;
    right: 20px;
    width: 435px;
    height: 435px;
}


