dialog{
    padding: 0px;
}

dialog::backdrop{
	background: #000000;
    opacity: 0.7;
}

/* .modal-back{
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.7;
    z-index :9; 
} */

.modal-x{
    position: absolute;
    top:-30px;
    right: -30px;
    z-index: 11;
    width: 50px;
    cursor: pointer;
}

.modal{
    position: fixed;
    top: 50px;;
    border: #000000 1px solid;
    z-index: 10;
    
    width: 1000px;
    height: 600px;
    margin : auto;
}

.complain-modal{
    top: 150px !important;
    border-radius: 30px !important;
    width: 400px !important;
    height: 330px !important; 
    padding: 1em !important;
}

    

.review-hr{
    margin-left: 10px;
    width: 90%;
    border: black 0px none;
    border-top: #BFBFBF 1px solid;
}

.review-detail-image{
    height: 100%;
    width: 60%;
}

.review-detail-image img{
    width: 600px;
    height: 600px;
}

.review-detail-image a{
    color: #fff;
    font-size: 70px;
    position: absolute;
    top: 45%;
}
.review-detail-image a:last-child{
    right: 40%;
}

.review-detail-contents{
    height: 100%;
    width: 40%;
}

.review-top {
    width: 100%;
    height: 68px;
}

.review-top img{
    width: 50px;
    height: 50px;
    padding: 10px;
}

.review-top div{
    font-size: 30px;
    line-height: 70px;
}

.review-top ul{
    height: 70px;
    position: absolute;
    right: 0px;
}

.review-top ul input{
    font-size: 15px;
    width: fit-content;
    background: none;
    border:none;
    border-radius: 5px;
    position: absolute;
    right: 0px;    
    margin: 0px 0px;
    margin-top: 25px; 
}

.review-top ul input:last-child{
    position: absolute;
    right: 0px;
    padding: 0px 10px;
    font-size: 20px;
    height: 30px; 
    background: #fff;
    border: #BFBFBF solid 1px;  
    margin: 0px 10px;
    margin-top: 20px;   
} 

.review-top input{
    position: absolute;
    right: 10px;
    margin-top: 20px; 
    padding: 0px 10px; 
    font-size: 20px;
    height: 30px; 
    background: #fff;
    border: #BFBFBF solid 1px;   
    border-radius: 5px;
}

.review-top a:last-child{
    position: absolute;
    right: 10px;
    margin-top: 20px; 
    padding: 0px 10px; 
    font-size: 20px;
    height: 30px; 
    line-height:35px;
    background: #fff;
    border: #BFBFBF solid 1px;   
    border-radius: 5px;
}


.review-center {
    width: 95%;
    height: 450px;
    font-family: 占쏙옙占�, 占쏙옙占쏙옙 占쏙옙占�, sans-serif;
    font-size: 15px;
    margin-left: 10px;
    overflow-y: scroll; 
    word-break: break-all;
}

.review-center .comments div{
    font-size: 13px;
    padding-left: 10px;
}

.review-center .comments div:first-child{
    padding-left: 0px;
    font-weight: bolder;
}

.review-center .comments input{
font-size: 10px;
line-height: 20px;
border : none;
background : none;
min-height : 0px;
text-indent : 0px;
padding-left :10px;
}

.review-center input{
    border: none;
    background: none;
    min-height: 35px;
    font-family: 占쏙옙占�, 占쏙옙占쏙옙 占쏙옙占�, sans-serif;
    text-indent: 10px;
}

.review-spot-list{
    padding: 0px 10px;
}

.review-spot-list a{
    padding: 5px;
    line-height: 35px;
}

.review-spot-list li>a{
    line-height: 25px;
    color: #000000;
}
.review-spot-list li{    
	width: 90%;;    
}


.review-spot-list li:first-child{
    margin-top: 5px;
}
.review-spot-list li:last-child{
    margin-bottom: 10px;
}

.review-spot-list img{
    position: absolute;
    right: 60px;
    top: 73px;
    width: 20px;
    height: 20px;
}
.review-spot-list input{
    border: #7F7F7F 1px solid;
    border-radius: 5px;
    font-size: 15px;
    width: 80%;
    margin: 5px 0px;
}

.review-spot-list div{
    height: 30px;
    line-height: 30px;
}

.review-bottom {
    width: 100%;
    height: 75px;
}

.review-bottom div{
    font-size: 13px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.review-bottom input{
    font-size: 13px;
    margin-left: 10px;
    margin-top: 5px;
    height: 25%;
    width: 90%;
    border-radius: 5px;
    border-style: none;
    border: none;
}

.reg1-top{
    height: 10%;
    min-height: 60px;
}

.reg1-top .empty{
	    height: 60px;
	width:100%
}

/* .reg1-top img{
    width: 45px;
}

.reg1-top div{
    margin: 3px 20px;
    padding: 0;
    font-size: 10px;
    color: #7F7F7F;
    width: 45px;
    text-align: center;
} */

.reg1-top input{
    position: absolute;
    top: 15px;
    right: 20px;

    width: 100px;
    height: 5%;
    border: none;
    border-radius: 5px;
    background: #002060;
    color: #fff;
    font-size: 20px;
}

.side-imgs{
width: 550px;
height: 90%;
padding: 5px 10px;
box-sizing: border-box;
}

.side-imgs ul{
	    position: relative;
		flex-flow:wrap;	
}

.side-imgs .reviewImg li {
	margin: 4px 4px;
	min-width: 165px;
	min-height: 165px;
	max-width: 165px;
	max-height: 165px;
	background: url(/images/regImg.png);
	background-size: cover;
	border: #7F7F7F solid 1px;
	box-sizing: border-content;
}

.side-imgs .reviewImg li:first-child {
	border: #002060 solid 4px;
	border-radius : 2px;
	margin: 2px 2px;
	margin-left: 0;
}
.side-imgs .reviewImg li:first-child:before {
	content: "대표";
	font-size: 15px;
	color:#fff;
	background:#002060;
	padding : 2px 5px;
	padding-left :2px;
	position : absolute;
}


.side-imgs .reviewImg img{
    width: 166px;
    height: 166px;
   	border:none;
   	padding :0;
   	margin:0;   
}
.side-imgs .reviewImg li:first-child img{
    width: 165px;
    height: 165px;
}

/* .side-imgs .titleImg{
	top:4px;
	left:4px;
	width: 167px !important;
    height: 167px !important;
	padding :0;
	position : absolute;
} */


.dnd{
	width:450px;
	text-align: center;
    font-family: 맑은 고딕;
    position: relative;
}

.dnd img{
		margin-top: 130px;
}

.dnd .msg{
	font-size : 18px;
}
.dnd .explanation{
	font-size : 10px;
}

.dnd .dnd-parency{
    position: absolute;
    width:100%;
    height:100%;
    top:0px;
}

.modal-title{
    font-weight: bold !important;
    font-size: 30px !important;
    text-align: center !important;
}

.modal-small-box{
    margin-top: 10px;
    width: 400px;
    height: 30px;
    border: #000000 solid 1px;
    border-radius: 10px;
    font-size: 18px;
    text-indent :10px;
}

.modal-big-box{
    margin-top: 12px;
    width: 395px;
    height: 170px;
    border: #000000 solid 1px;
    border-radius: 10px;
    font-size: 18px;
    font-family: Jua;
    text-indent :10px;
}

.send-btn{
    width: 70px;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    background: #002060;
    color: white;
    cursor: pointer;
    margin-left: 20px;
    vertical-align: middle;
    margin-top: 15px;
    margin-left: 170px;
    border:none;
}

.complain-modal-x{
    position: absolute;
    top:-25px;
    right: -23px;
    z-index: 11;
    width: 50px;
    cursor: pointer;
}
  
}
