
.empty-btn{
    width: 60px;
    margin-left: 20px;
    height: 30px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    background: white;
    color: #002060;
    border: #002060 1px solid;
    cursor: pointer;
}


.select{
    width: 65px;
    height: 30px;
    font-size: 15px;
    vertical-align: middle;
    border: #002060 1px solid;
}

.full-btn{
    width: 70px;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    background: #002060;
    color: white;
    cursor: pointer;
    margin-left: 20px;
    vertical-align: middle;
}

.right{
    text-align: right!important;;
}

.left{
    text-align: left!important;
}

.bottom{
    margin-bottom: 20px!important;
}

.top{
    margin-top: 20px!important;
}

.rela{
    position: relative;
}

.abso{
    position: absolute;
}

.icon{
    width: 20px;
    padding-left: 1px;
}

.content{
    font-size: 20px!important;
    padding-bottom: 10px;
    vertical-align: middle;
}
.content-bold{
    font-size: 20px!important;
    font-weight: bold;
    padding-bottom: 10px;
    vertical-align: middle;
}

.block{
    display: block;
}
