
.empty-btn{
    width: 60px;
    margin-left: 20px;
    height: 30px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    background: white;
    color: #002060;
    border: #002060 1px solid;
    cursor: pointer;
}


.select{
    width: 65px;
    height: 30px;
    font-size: 15px;
    vertical-align: middle;
    border: #002060 1px solid;
}

.full-btn{
    width: 70px;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    background: #002060;
    color: white;
    cursor: pointer;
    margin-left: 20px;
    vertical-align: middle;
}

.right{
    text-align: right!important;;
}

.left{
    text-align: left!important;
}

.bottom{
    margin-bottom: 20px!important;
}

.top{
    margin-top: 20px!important;
}

.rela{
    position: relative;
}

.abso{
    position: absolute;
}

.icon{
    width: 21px;
    padding-left: 1px;
}

.content{
    font-size: 20px!important;
    /* padding-bottom: 10px; */
    vertical-align: middle!important;
}
.content-bold{
    font-size: 20px!important;
    font-weight: bold;
    /* padding-bottom: 10px; */
    vertical-align: middle;
    height: 20px;
    line-height: 30px;
}

.block{
    display: block;
}


.page{
    padding-top: 50px;
    padding-left: 450px;
    font-family: ���� ���;
}

.page img{
    width: 20px;
    cursor: pointer;
}

.page ul{
    font-size: 15px;
}
.page li{
    padding-left: 3px;
    padding-right: 3px;
}

.page a{
    vertical-align: middle;
}

.page li:first-child a{
    color: red;
    font-weight: bold;
}


.list-font-big{
    margin-top: 18px!important;
    font-size: 24px!important;
    text-indent: 10px;
}

.list-font-small{
    margin-top: 5px!important;
    font-size: 18px!important;
    text-indent: 10px;
}

.per{
    margin-right: 10px!important;
    margin-top: 25px!important;
}

.hashtag{
    color: #002060;
    text-indent: 10px;
}

input:focus { 
    outline: none; 
}

textarea:focus { 
    outline: none; 
}
select:focus {
    outline: none; 
}

.content-overflow{
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow:ellipsis !important;
    text-align: left !important;
    
}

.img-list{
    width: 200px;
    height: 200px;
}

.dog-size{
    vertical-align: sub!important;
}

.detail-icon{
    width: 35px;
    vertical-align: top;
}

.favo{
    right: 0px!important;
    top: -20px!important;
 }
 

 #favo-detail{
    right: 10px;
    top: 10px;
    background: white;
    border: #000000 solid 1px;
    border-radius: 10px;
    width: 80px;
    height: 38px;
    font-size: 20px;
 }

.favorite{
    width: 30px;
    height: 30px;
    font-weight: bold;
    /* background: rgba(255, 255, 255, 0);  */
    background: rgb(255, 221, 27,0);/*#ffdd1b*/
    border: none;
    /* background: #ffffff;
    border: #000000 solid 2px;
    border-radius: 100px; */


    cursor: pointer;
    font-size: 25px;
    z-index: 7;
}
