

/* ========== spot detail ============= */

.spot-detail{
    padding-left: 150px;
    padding-right: 150px;
    font-family: 占쏙옙占쏙옙 占쏙옙占�;
    /* padding-bottom: 100px; */
}

#detail-title{
    font-size: 40px;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 15px;
    font-weight: bold;
}

#detail-sub{
    font-size: 15px;
    padding-top: 30px;
    position: absolute;
    right: 140px;
    vertical-align: bottom;
}

.spot-detail span{
    font-size: 15px;
    line-height: 40px;
}


.review-title{
    font-size: 17px!important;
}

.bold{
    font-weight: bold;
    padding-right: 10px;
}

#profile{
    width: 80px;
}

.width-half{
    width: 50%;
    margin-left: 2px;
    margin-right: 2px;
}

.height-half{
    height: 50%;
    /* height: 450px; */
    padding-bottom: 2px;
}

.width-quarter{
    width: 25%;
    margin-left: 2px;
    margin-right: 2px;
}


#img-arg{
    height: 450px;
    /* width: 1440px; */
    /* width: 100%; */
}
#img-arg img{
    /* transform: scale(1.05);
    transition: -ms-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
    -webkit-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
    transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s!important; */
    cursor: pointer;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
   -webkit-transform: scale(1);
	transform: scale(1);
}

#img-arg img:hover{
    opacity: 0.5;
    -webkit-transform: scale(1.02);
	transform: scale(1.02);
}

#comment-icon{
    right: 0px;
    top: 10px;
}

.img-pos{
    left:0!important;
    top:0!important;
    height: 100%!important;
    width: 100%!important;
    /* border: red solid 5px; */
}

#spot-info{
    top:480px;
}

#detail-large-main{
    /* width: 1440px; */
    /* width: 100%; */
    min-height: 800px;
}

/* ===================== spot-list ====================== */

#search-list select{
    margin-right: 30px;
}

 #filter input{
    width: 80px;
    height: 30px;
    font-size: 15px;
    border: #002060 1px solid;
    border-radius: 5px;
    vertical-align: middle;
}

.big-data-search{
    width: 700px;
    height: 38px;
    border: 1px solid #7F7F7F;
    border-radius: 5px;
    box-shadow: 1px 1px #818181;
}

#wid-front{
    width: 55%;
    height: 100%;
}

/* 吏��룄�겕湲� */
.wid-back{
    /* width: 45%; */
    /* height: 100%; */
    position: fixed;
    right: 20px;
    /* position: relative; */
}


.box{
    width: 550px;
    margin-left: 20px;
    margin-right: 20px;
    border: #000000 solid 1px;
    border-radius: 5px;
    font-size: 18px;
    font-family: Jua;
}

/* .box{
    width: 450px;
    margin-left: 20px;
    border: #000000 solid 1px;
    border-radius: 5px;
    font-size: 18px;
    font-family: Jua;
} */

#tog{
    position: fixed;
    right: 50px;
    font-size: 17px;
}


.list-large-main{
    min-width: 1350px;
    min-height: 800px;
}


/* ===================== modal ========================== */

.modal{
    position: fixed;
    top: 150px;;
    border: #000000 1px solid;
    border-radius: 30px;
    z-index: 10;
    
    width: 400px;
    height: 330px;
    margin : auto;
}

.modal-img{
    position: fixed;
    top: 50px;;
    border: #000000 1px solid;
    z-index: 10;
    /* opacity: 1; */
    
    width: 780px;
    height: 500px;
    margin : auto;
}

.modal-x{
    position: absolute;
    top:-25px;
    right: -23px;
    z-index: 11;
    width: 50px;
    cursor: pointer;
}

.modal-back{
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.7;
    z-index :9; 
}

#modal-title{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
#modal-small-box{
    margin-top: 10px;
    width: 400px;
    height: 30px;
    border: #000000 solid 1px;
    border-radius: 10px;
    font-size: 18px;
}

#modal-big-box{
    margin-top: 12px;
    width: 395px;
    height: 170px;
    border: #000000 solid 1px;
    border-radius: 10px;
    font-size: 18px;
    font-family: Jua;
}

#send-btn{
    margin-top: 15px;
    margin-left: 170px;
}

.bigimg{
    width: 775px;
    height: 400px;
    margin-left: 3px;
}

.smallimg{
    width: 150px;
    height: 100px;
    margin-left: 3px;
}


        /* ========== toggle button ============ */

        /* .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }
        
        .switch input { 
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        input:checked + .slider {
            background-color: #2196F3;
        }
        
        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }
        
        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
        
        .slider.round {
            border-radius: 34px;
        }
        
        .slider.round:before {
            border-radius: 50%;
        } */


    